body,p,h1,ul,li,blockquote{
    padding: 0px;
    margin: 0px;
}

li{
    list-style: none;
}

.paralax1{
    background-image: url('/Imagens/\(1\).jpg');
    padding: 0 0 650px 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paralax2{
    background-image: url("/Imagens/\(2\).jpg");
    padding: 0 0 650px 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paralax3{
    background-image: url("/Imagens/\(3\).jpg");
    padding: 0 0 650px 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paralax4{
    background-image: url("/Imagens/\(4\).jpg");
    padding: 0 0 650px 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paralax5{
    background-image: url("/Imagens/\(5\).jpg");
    padding: 0 0 650px 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paralax6{
    background-image: url("/Imagens/\(6\).jpg");
    padding: 0 0 650px 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paralax7{
    background-image: url("/Imagens/\(7\).jpg");
    padding: 0 0 650px 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paralax8{
    background-image: url("/Imagens/\(8\).jpg");
    padding: 0 0 650px 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paralax9{
    background-image: url("/Imagens/\(9\).jpg");
    padding: 0 0 650px 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.paralax10{
    background-image: url("/Imagens/\(10\).jpg");
    padding: 0 0 650px 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hdr1{
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 200px 1fr;

}

.navi>ul{
    display: flex;
    flex-wrap: wrap;
}

.navi>ul>li{
    padding-left: 10px;
    margin-right:10px;
}

.navi>ul>li>a{
    font-family: 'Poppins', sans-serif;
}

.titulo{
    justify-self: start;
}

.tipografia1{
    font-family: 'Pattaya', sans-serif;
}
.referencia{
    background: darkturquoise;
    font-family: 'Poppins', sans-serif;
    padding: 250px 200px;
    border-radius: 5px;
    font-size: large;
    align-self: start;
}